
.imgface {
    max-width: 15vh;
    /* border: 1px solid yellow; */
}

.cardColumn {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;   
    height: auto;    
    border: 1px solid black;  
    gap: 15px;
    padding-bottom: 20px;
    padding-top: 10px;      
}

  