
.imgface {
    height: 15vh;
    /* border: 1px solid yellow; */
}

.character {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;    
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;    
    height: auto;
  }
  