

.container {
    background-image: url("https://i.pinimg.com/564x/a0/65/2e/a0652e997f280e792514b4b087f60ccb.jpg");
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center; 
    padding: 20px;
    height: auto;
    left: 30vw;
    position: fixed;
  }

.detail {
  display:flex;
  gap: 15px;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardColumn div {
  border: 1px solid black;
}

.detail p {
    padding: 0 10px;
    margin: 0;
    font-size: 10px;
}

.detail h3 {
  font-size: 12px;
  font-weight: bold;
}

.detail img {
    max-width: 15vh;
}

.detail section {
    display: flex;
}

div.pericia {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: none;
}

.buttons {
  display: flex;
  width: 100%;
}

.editBtn {
  width: 50%;
}

.editBtn button {
  width: 100%;
}

.delBtn {
  width: 50%;
}

.buttons button {  
  padding: auto;
}

.pericia p {
  font-size: 10px;
  font-weight: bold;
}

.pericia label {
  font-size: 10px;
}

.pericia .box {
  padding: 0 10px;
}
