.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;    
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;    
    height: auto;
  }

.detail p {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

.detail img {
    max-width: 15vh;
}

.detail section {
    display: flex;
}
