.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;    
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;    
    height: auto;
  }

.detail {
  display:flex;
  gap: 15px;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardColumn div {
  border: 1px solid black;
}

.detail p {
    padding: 0;
    margin: 0;
    font-size: 8px;
}

.detail img {
    max-width: 15vh;
}

.detail section {
    display: flex;
}

div.pericia {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: none;
}


