.homePage {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.homePage .background {
    background-image: url("https://i.pinimg.com/564x/8b/89/63/8b8963fd18d282499261fe338338ca0e.jpg");    
    flex: 1;
    background-size:contain;
}
