.homePage {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.homePage .background {
    background-image: url("https://i.pinimg.com/564x/2d/6d/71/2d6d710007f4afbca52f8b95e7036263.jpg");    
    flex: 1;
    background-size:contain;
}
