.navBar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
    width: 100%;
    text-align: center;
}


/* .navBar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.4s;
}

.navBar a:hover {
    color: black;
} */
